In [1]:
import pandas as pd
import numpy as np
import json as js
import os

In [4]:
ruta = '/Users/usuario/Desktop/Luis/Ts/Base de datos'#Pongan la carpeta donde este su base de datos 
l_arch = os.listdir(ruta)
l_arch

['2018_Yellow_Taxi_Trip_Data.csv', 'catalogo.json', '.DS_Store']

In [5]:
catalogos = js.load(open(os.path.join(ruta,l_arch[-1]),'rb'))

UnicodeDecodeError: 'utf-32-be' codec can't decode bytes in position 4-7: code point not in range(0x110000)

In [108]:
catalogos.keys()

dict_keys(['VendorID ', 'RatecodeID', 'store_and_fwd_flag', 'payment_type'])

In [110]:
list(catalogos.keys())[0]='VendorID'

In [119]:
catalogos.keys()

dict_keys(['VendorID ', 'RatecodeID', 'store_and_fwd_flag', 'payment_type'])

In [69]:
df_muestra= pd.read_csv(os.path.join(ruta, l_arch[0]),nrows=1000000)

In [70]:
df_muestra

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,09/22/2018 11:46:37 PM,09/23/2018 12:07:10 AM,1,8.00,1,N,230,244,2,25.5,0.5,0.5,0.00,0.00,0.3,26.80
1,2,09/22/2018 11:00:43 PM,09/22/2018 11:09:36 PM,1,1.70,1,N,141,163,1,8.5,0.5,0.5,1.96,0.00,0.3,11.76
2,2,09/22/2018 11:10:32 PM,09/22/2018 11:25:50 PM,2,3.84,1,N,163,166,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
3,2,09/22/2018 11:27:25 PM,09/22/2018 11:36:29 PM,2,1.80,1,N,166,75,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
4,2,09/22/2018 11:50:39 PM,09/23/2018 12:01:52 AM,2,2.43,1,N,229,79,1,10.0,0.5,0.5,2.00,0.00,0.3,13.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1,09/26/2018 11:22:35 PM,09/26/2018 11:39:27 PM,1,5.70,1,N,161,42,1,18.0,0.5,0.5,0.00,0.00,0.3,19.30
999996,2,09/26/2018 11:04:04 PM,09/26/2018 11:14:50 PM,1,0.88,1,N,234,234,1,8.5,0.5,0.5,0.00,0.00,0.3,9.80
999997,2,09/26/2018 11:45:21 PM,09/27/2018 12:20:07 AM,1,8.50,1,N,164,17,1,28.5,0.5,0.5,7.11,5.76,0.3,42.67
999998,2,09/26/2018 11:12:10 PM,09/26/2018 11:37:48 PM,1,6.53,1,N,236,148,1,23.0,0.5,0.5,7.29,0.00,0.3,31.59
999999,1,09/26/2018 11:20:12 PM,09/26/2018 11:30:00 PM,1,4.70,1,N,132,216,1,15.0,0.5,0.5,1.00,0.00,0.3,17.30

In [46]:
l_cat = [(x,pd.DataFrame.from_dict(catalogos[x],
                                   orient='index',
                                   columns=["x_%s"%x]).reset_index().rename(columns={'index':x})) for x in catalogos.keys()]

In [47]:
l_cat

[('VendorID ',
    VendorID                    x_VendorID
  0         1  Creative Mobile Technologies
  1         2                  VeriFone Inc),
 ('RatecodeID',
    RatecodeID           x_RatecodeID
  0          1          Standard rate
  1          2                    JFK
  2          3                 Newark
  3          4  Nassau or Westchester
  4          5        Negotiated fare
  5          6             Group ride),
 ('store_and_fwd_flag',
    store_and_fwd_flag          x_store_and_fwd_flag
  0                  Y        store and forward trip
  1                  N  not a store and forward trip),
 ('payment_type',
    payment_type x_payment_type
  0            1    Credit card
  1            2           Cash
  2            3      No charge
  3            4        Dispute
  4            5        Unknown
  5            6    Voided trip)]

In [48]:
for key,cat in l_cat:
    print(key)
    df_muestra[key] = df_muestra[key].fillna(9999).astype(int)
    cat[key] = cat[key].astype(int)
    df_muestra = df_muestra.merge(cat,on=key ,how='left').drop(key,axis=1).rename(columns={'x_%s'%key:key})

VendorID

KeyError: 'VendorID '